.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

.book,.book input, .book form button {
font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  color: black;
  
}
