h2, p {
    color: white;
}

.box {

  background: rgba(6, 78, 59, 0.85); 
  color: #ecfdf5;
  padding: 12px 0;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-align: center;
  position: relative;
  max-width: 50rem;
  width: 100%;
  border: 2px solid rgb(238, 226, 159);
  border-radius: 20px;

}