
.login-root {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.error-text {
  color: #ff4d4f;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}


.login-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.login-center {
  position: relative;
  z-index: 10;
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-book-wrapper {
  position: relative;
  display: flex;
  width:32%;
  background-color: red;
  aspect-ratio: 491.92 / 375.32;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.login-book {
  position: relative;
  top:5%;
  height: 80%;
  width: auto;
  z-index: 1;
}


/* .login-form-wrapper {
  position: absolute;
  background-color: red;
  top: 18%;
  left: 10%;
  height: 0%;
  aspect-ratio: 491.92 / 375.32;
  color: #2a1a0a;
  padding: 1rem;
  border-radius: 10px;

} */


.login-title {
  color: black;
  font-size: clamp(1.1em, 2vw, 1.4em);
  font-style: italic;
  text-align: center;
  margin-bottom: 0.5em;
}


.login-form {
  color: black;
   position: absolute;
   left: 30%;

  /* Scale relative to book height */
  height: 30%;
  aspect-ratio: 491.92 / 375.32;

  max-height: 600px;
  max-width: 90vw;

  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.login-form label {
  font-weight: 600;
}


.login-form input {
  padding: 6px 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: white;
}

input::placeholder {
    color: whitesmoke;
    font-style: italic;
}


.forgot-password {
  font-size: 0.875rem;
  font-style: italic;
  text-decoration: underline;
  text-align: right;
  cursor: pointer;
  margin-bottom: 10px;
}


.login-form button {
  margin-bottom: 1em;
  text-align: center;
  background-color: #5A2D0C;
  border-radius: 25px;
  color: #F5E6C8;
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  text-decoration: none;
}


.register-text {
  font-size: 0.875rem;
  font-style: italic;
  text-align: center;
  margin-top: 8px;
  font-weight: 800;
}

.register-text span {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}


@media (max-width: 768px) {
  .form {
    top: 20%;
    left: 10%;
    width: 80%;
    aspect-ratio: 375.32 / 491.92;
  }

  .spread {
    grid-template-columns: 1fr;
    gap: 1.5em;
  }

  .login-book {
    height: 75%;
    left: 20vh;
  }
}